<div class="container footer-grid">
  <div>
    <strong data-site="name">Edoardo Vicentini</strong>
    <p class="footer-note"><span data-site="role">Postdoctoral Researcher</span> - <span data-site="affiliation">CIC nanoGUNE, Nanooptics Group</span></p>
    <p class="footer-note" data-site="location">San Sebastian, Spain</p>
  </div>
  <div>
    <strong>Contact</strong>
    <p class="footer-note"><a data-site="email" href="mailto:e.vicentini@nanogune.eu">e.vicentini@nanogune.eu</a></p>
    <p class="footer-note">ORCID: <span data-site="orcid">0000-0003-1850-2327</span></p>
  </div>
  <div>
    <strong>Quick links</strong>
    <p class="footer-note"><a href="{{BASE}}research.html">Research</a> - <a href="{{BASE}}publications.html">Publications</a> - <a href="{{BASE}}resources.html">Resources</a> - <a href="{{BASE}}cv.html">Curriculum</a></p>
  </div>
</div>
