<nav aria-label="Primary navigation" class="primary-nav">
  <a class="nav-brand" href="{{BASE}}index.html">
    <span class="nav-brand__name">Edoardo Vicentini</span>
    <span class="nav-brand__role">Nano-Optics &middot; Ultrafast Spectroscopy</span>
  </a>
  <ul class="nav-list">
    <li><a class="nav-link" href="{{BASE}}index.html">Home</a></li>
    <li><a class="nav-link" href="{{BASE}}research.html">Research</a></li>
    <li><a class="nav-link" href="{{BASE}}publications.html">Publications</a></li>
    <li><a class="nav-link" href="{{BASE}}conference.html">Talks</a></li>
    <li><a class="nav-link" href="{{BASE}}cv.html">CV</a></li>
    <li><a class="nav-link" href="{{BASE}}github.html">Code</a></li>
    <li><a class="nav-link" href="{{BASE}}contact.html">Contact</a></li>
  </ul>
</nav>
