<nav aria-label="Primary navigation">
  <ul class="nav-list">
    <li><a class="nav-link" href="{{BASE}}index.html">Home</a></li>
    <li><a class="nav-link" href="{{BASE}}research.html">Research</a></li>
    <li><a class="nav-link" href="{{BASE}}publications.html">Publications</a></li>
    <li><a class="nav-link" href="{{BASE}}cv.html">Curriculum</a></li>
    <li><a class="nav-link" href="{{BASE}}github.html">Code</a></li>
  </ul>
  <span class="nav-avatar-slot" aria-hidden="true"></span>
</nav>
